.number {
    margin: 5px;
    border-radius: 50%;
    background-color: yellow;
    text-align: center;
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.number.active {
    border: 2px #f00 solid;
}

.number:hover {
    cursor: -webkit-grab;
    cursor: grab;
}

.center-class {
    text-align: center;
}

body {
    background-color: burlywood;
}

.userInterface-class {
    border-bottom-style: solid;
    margin-bottom: 2%;
}

.poolOfNumbers {
    margin: 2% 15%
}

.col-3 {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.row {
    display: block;
}